#navbar{
  border-bottom: black solid 2px;
  background-color: white;
  padding: 20px;
  overflow: auto;
  height: 100vh;
  
  header{
    background-color: white;
    font-size: 20px;
    position: fixed;
    padding: 20px;
    margin: -20px 0 0 -20px;
  }
  ul{
    margin-top: 50px;
  }
  li{
   
    list-style: none;
    border-top: rgb(58, 57, 57) solid 1px;
    padding: 17px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 0;
  }
  a{
    text-decoration: none;
    color: rgb(68, 68, 68);
  }
}