*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  height: 1000px;
}
#navbar{
  z-index: 2;
  display: flex;
  background-color: rgb(240, 234, 63);
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  li , a{
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    color: rgb(14, 13, 13);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin: 0 -10px;
  }
  a:hover{
    background-color: rgb(5, 5, 1);
    color: rgb(240, 234, 63);
  }
}
#welcome-section{
  
  background-color: rgb(13, 13, 14);
  height: 100vh;
  h1,p{
    //margin-top: 100px;
    position: relative;
    color: white;
    top: 50%;
    // left: 50%;
    font-size: 3em;
    // display: block;
    text-align: center;
  }
  p{
    color: rgb(240, 234, 63);
  }
}

#project{
  background-color:  rgb(240, 234, 63);
  text-align: center;
  padding: 30px 0;
  // display: flex;
  // flex-direction: column;
  .img-project{
   // border: black solid 1px;
    display: flex;
    flex-direction: column;
    #img-div{
      background-color: rgb(248, 247, 244);
      width: 90%;
      margin: 20px auto;
      #image{
        max-width: 90%;
        padding: 10px;
      }
      #img-caption{
        padding: 10px 0 20px 0;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  h1{
    padding: 20px 0 40px 0;
  }
  
}
@media only screen and (min-width: 768px){
  #project{
    .img-project{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
      // #image{
      //   min-width: 100%;
      // }
    }
  }
}