* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 1000px;
}

#navbar {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0ea3f;
  height: 60px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}

#navbar li, #navbar a {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  list-style: none;
  color: #0e0d0d;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  margin: 0 -10px;
}

#navbar a:hover {
  background-color: #050501;
  color: #f0ea3f;
}

#welcome-section {
  background-color: #0d0d0e;
  height: 100vh;
}

#welcome-section h1, #welcome-section p {
  position: relative;
  color: white;
  top: 50%;
  font-size: 3em;
  text-align: center;
}

#welcome-section p {
  color: #f0ea3f;
}

#projects {
  background-color: #f0ea3f;
  text-align: center;
  padding: 30px 0;
}

#projects .img-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .img-project #img-div {
  background-color: #f8f7f4;
  width: 90%;
  margin: 20px auto;
}

#projects .img-project #img-div #image {
  max-width: 90%;
  padding: 10px;
}

#projects .img-project #img-div #img-caption {
  padding: 10px 0 20px 0;
}

#projects .img-project #img-div #img-caption a {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

#projects h1 {
  margin-top: 40px;
  padding: 20px 0 40px 0;
}

#projects button {
  width: 10em;
  height: 3em;
  margin: 40px auto;
  background-color: #0d0d0e;
  color: #f0ea3f;
  border: none;
  font-size: 1em;
}

#contact {
  background-color: #0d0d0e;
  color: #f0ea3f;
  text-align: center;
  padding: 2em;
  font-size: 2em;
}

#contact .social-media {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact .social-media a {
  position: relative;
  margin: auto;
  padding: 7px 20px;
  text-decoration: none;
  color: #f0ea3f;
}

#contact .social-media a:hover {
  color: white;
}

#contact .social-media .sm::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 12px;
  left: -10px;
  background-color: white;
}

#contact .social-media .facebook::before {
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/733/733635.svg");
}

footer {
  background-color: #0d0d0e;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1em;
  font-weight: 400;
}

footer p {
  color: white;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  #projects .img-project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  #projects .img-project {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */