.header{
  // background-color: rgb(109, 173, 233);
  position: relative;
  max-width: 80%;
  z-index: 2;
  text-align: center;
  margin: 40px auto;
  h1{
   font-weight: 200;
  }
  p{
    font-style: italic;
  }
}