@import './feature';
@import './footer';
@import './form';
@import './header';
@import './pricing';
@import './video';

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 18, 18);
}
body{
  background-color: rgb(241, 234, 234);
}

#main{
  padding: 10px;
    margin: auto;
    position: relative;
    margin: auto;
    top: 10em;
    // background-color: chartreuse;
    display: flex;
    flex-direction: column;
  
}


@media only screen and (min-width: 768px) {
  .feat{
    max-width: 75%;
  }
 
} 
@media only screen and (min-width: 992px) {
  .feat{
    max-width: 60%;
  }
  .pricing{
    flex-direction: row;
    width: 70%;
    margin: auto;

  }

} 