#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#features .feat {
  line-height: 1.5em;
  margin: 20px 0;
  padding: 10px;
}

#features .feat h1, #features .feat p {
  margin-left: 125px;
}

#features .feat p {
  margin-top: 10px;
}

#features .feat::before {
  content: "";
  height: 80px;
  width: 80px;
  position: absolute;
}

#features .feat-1::before {
  background: url("https://www.flaticon.com/svg/static/icons/svg/599/599502.svg");
}

#features .feat-2::before {
  background: url("https://www.flaticon.com/svg/static/icons/svg/609/609361.svg");
}

#features .feat-3::before {
  background: url("https://www.flaticon.com/svg/static/icons/svg/786/786447.svg");
}

@media only screen and (min-width: 600px) {
  .feat {
    max-width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .feat {
    max-width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  .feat {
    max-width: 60%;
  }
}

#footer {
  background-color: #a09f9d;
  height: 3em;
  width: 100%;
  position: relative;
  margin-top: 170px;
  padding: 10px;
}

#footer .foot {
  margin: 0 auto;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#footer li, #footer p {
  line-height: 1.5em;
  display: inline;
  text-align: center;
}

#footer li a, #footer p a {
  text-decoration: none;
}

#footer li p, #footer p p {
  font-size: 20px;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  text-align: center;
  margin: 20px auto;
  line-height: 30px;
}

#form label {
  font-size: 25px;
  margin: 0.6rem 0;
  padding-bottom: 20px;
  font-weight: bolder;
}

#form #submit {
  margin: 25px auto;
  height: 40px;
  background-color: #f3bd0a;
  border: none;
  width: 120px;
}

#form #email {
  height: 2em;
  padding: 5px;
  width: 60%;
  margin: auto;
}

@media only screen and (min-width: 992px) {
  #form {
    margin: -20px auto;
  }
}

#header {
  background-color: #f1eaea;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#header .header-img {
  width: 9em;
  display: block;
  margin: -20px auto -40px auto;
}

#header .nav-link {
  list-style-type: none;
  line-height: 1.5em;
}

#header .nav-link a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5em;
  }
  #header .nav-link {
    display: inline-block;
    margin-right: 20px;
  }
  #header .header-img {
    margin: 0;
  }
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.pricing .price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #6b6969 solid 1px;
  width: 300px;
  margin: 20px auto;
}

.pricing .price h2 {
  text-align: center;
  padding: 10px 0;
  background-color: #a09f9d;
}

.pricing .price h3 {
  text-align: center;
  margin: 25px auto 10px auto;
}

.pricing .price p {
  margin: auto 20px;
  line-height: 2em;
}

.pricing .price .btn {
  margin: 20px 0;
  width: 120px;
  height: 40px;
  border: none;
  background-color: #f3bd0a;
}

.video {
  margin: 5em auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #131212;
}

body {
  background-color: #f1eaea;
}

#main {
  padding: 10px;
  margin: auto;
  position: relative;
  margin: auto;
  top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .pricing {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */